<?xml version="1.0"?>
<launch>
  <node name="technical_trackMovingGate" pkg="vision" type="technical_trackMovingGate.py" output="screen"/>
  <node name="track_H" pkg="vision" type="track_H.py" output="screen"/>
  <node name="demo_technical" pkg="control" type="demo_technical" output="screen"/>
</launch>